.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

h3 { text-align: center }
h4 { text-align: center }
h6 { text-align: center }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-center {
  text-align: center;
}

.text-right{
  text-align: right;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

.nav li:nth-last-child(3) {
  padding-left: 600px;
}

 ul {
  padding-left: 0;
  border-bottom: 3px solid grey;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.nav li:hover {
  border-bottom: 3px solid black;
}

.nav li.active {
  border-bottom: 3px solid green;
}

.solidborder {border:1px solid grey;}

.clickbutton {
  height: 28px;
  text-align: center;
  background-color:  #008CBA;
  border-color: #008CBA;
  color: white;
  width: 350px;  
}

.btnstyle2{
  height: 28px;
  text-align: center;
  background-color: white;
  border-radius: 3px;
  border-color: #39d40e;
  color: #39d40e;
  width: 250px;
}

.parent {
  margin: 1rem;
  padding: 1rem 1rem;
}
.child {
  display: inline-block;
  border: 1px solid grey;
  margin-right: 10px;
  padding: 1rem 1rem;
}

.centerchild{
  text-align: center;
}

table{
  border: 1px solid;
  width: 100%;
  border-collapse: collapse;
}

th,td {
  border: 1px solid grey;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;  
}

td:first-child {
  width: 60%;
}

tr:first-child {
  background-color: rgba(211, 211, 211, 0.993);
  color: grey;
  font-weight: 400;
}

.table1 {
  text-align: left;
}


.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  float:left;
}

.avataricon {
  height: 50px;
}

.avatarname {
  text-align: right;
}

.imgcontainer {
  display: flex;
  align-items: center;
  justify-content: center
}

.avatarpic {
  height: 100px;
  border-radius: 25px;
  margin: 10px;
  float:center;
}

.voteslabel{
  color: purple;
}

.errorlabel{
  color: red
}

.selectedoption{
  color: green
}

.gohomelink{
  color: blue;
  text-decoration: underline;
}